.articles {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}
article.card {
  width: 100%;
  display: block;
  padding: 10px 15px;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;

  .content {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;

    ul {
      padding: 0;
      list-style: none;
      margin: 0;
    }

    li {
      color: #f9fcff;
      padding: 10px;
    }

    img {
      width: 250px;
      height: 250px;
      object-fit: contain;
    }

    h2 {
      width: 100%;
      text-align: center;
      color: #f9fcff;
      font-size: clamp(2rem, 4vw - 2rem, 3rem);
    }
  }
  .content-a {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    a {
      cursor: pointer;
      width: 100%;
      padding: 15px 25px;
      border-radius: 15px;
      background: rgba(238, 195, 229, 0.286);
      font-weight: 1000;
      color: #212121;
      text-align: center;
      font-size: clamp(1rem, 4vw - 2rem, 1.5rem);
    }
    a:hover {
      background-color: rgba(0, 2, 4, 0.216);
      color: #f9fcff;
    }
  }
}
