@import 'colors.scss';
@import 'fonts.scss';

.articles {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}
article.card {
  width: 100%;
  display: block;
  padding: 10px 15px;
  font-family: $fonts;

  .content {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;

    ul {
      padding: 0;
      list-style: none;
      margin: 0;
    }

    li {
      color: $colorText;
      padding: 10px;
    }

    img {
      width: 250px;
      height: 250px;
      object-fit: contain;
    }

    h2 {
      width: 100%;
      text-align: center;
      color: $colorText;
      font-size: $fSize2Rem;
    }
  }
  .content-a {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    a {
      cursor: pointer;
      width: 100%;
      padding: 15px 25px;
      border-radius: 15px;
      background: $bgBtn;
      font-weight: 1000;
      color: #212121;
      text-align: center;
      font-size: $fSize1Rem;
    }
    a:hover {
      background-color: $bgBtnHover;
      color: $colorText;
    }
  }
}
