$bgContainer: #00020437;
$bgGradient: linear-gradient(to bottom, #010101 0%, #c53a94 100%);
$bgBtn: rgba(238, 195, 229, 0.286);
$bgBtnHover: rgba(0, 2, 4, 0.216);
$borderBox: 17px;
$colorText: #fcfcfc;
$colorTextSecondary: rgb(220, 222, 233);
$secondaryText: #112a46;
$bgItemNav: #eec3e549;
$bgItemNavHover: #383838;
