@import 'nav.scss';
@import 'logo.scss';
@import 'card.scss';

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

#scene {
  position: fixed;
  z-index: -100;
  height: 100%;
  background: linear-gradient(to bottom, #010101 0%, #c53a94 100%);
}

.img {
  width: 250px;
}

.container {
  background: transparent;
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100%;
  z-index: 100;
  margin-bottom: 450px;
}

.ticket {
  border-radius: 17px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  background: #00020437;
}

.ticket h1 {
  color: #fcfcfc;
  font-weight: 900;
  margin: 40px;
  font-size: 40px;
  text-align: center;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
}

.wrapper {
  perspective: 1000px;
}

.space {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.green {
  height: 100%;
}

.section2 {
  background-color: rgba(0, 2, 4, 0.216);
  border-radius: 25px;
  width: 700px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #000;
  transition: width 0.1s width;
  .titutlo {
    width: 100%;
    margin: 20px 0;
    padding: 10px 5px;
    text-align: center;
    color: #f9fcff;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
      sans-serif;
  }
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.yellow {
  background-color: yellow;
}

.listFeatures {
  list-style-type: none;
  margin: 0;

  .features {
    margin: 100px auto;
    color: #112a46;
    list-style-type: none;
    opacity: 0;
  }

  li span {
    display: flex;
    width: 300px;
    font-size: 25px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: 0.007em;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
      sans-serif;
  }

  // margin: 300px 0;
}
